# Dependencies
**/node_modules/

# Builds
**/dist/

# Expo
**/.expo/

# Variables d'environnement
.env
.env.*
!.env.example

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Client Prisma généré
api/src/generated/

# VS Code settings
.vscode/